{% if elasticsearch_heap_size is defined %}
ES_HEAP_SIZE={{ elasticsearch_heap_size }}
{% else %}
ES_HEAP_SIZE={{ (ansible_memtotal_mb / 2) | int }}m
{% endif %}

# Heap new generation
ES_HEAP_NEWSIZE={{ (ansible_memtotal_mb * 0.4) | int }}m

# Maximum number of open files, defaults to 65535.
MAX_OPEN_FILES={{ elasticsearch_max_open_files }}

MAX_LOCKED_MEMORY=unlimited
